.container-plants {
    display: flex;
    flex-wrap: wrap; /*me ramène à la ligne mes objets*/
    /* gap: 2rem; */
    justify-content: space-between; /*vient harmoniser le style de mes cards */
    padding-top: 0;
    align-content: space-between;
}

.one-plant {
    width: 32%;
    margin-bottom: 1.5rem;
}

.classeSearchBar {
    width: 100%;
    margin-top: 10px;
    border-color: grey;
}

.divClass {
    margin-top: 1%;
    margin-left: 25px;
}

.mes3Clics {
    margin-left: 25px;
    height: 25px;
    margin-top: 1%;
}

#boutonStor1Alpha {
    color: rgb(14, 180, 14);
    background-color: white;
    border-radius: 5px;
    border-color: rgb(14, 180, 14);
}

#boutonStor2Arrosa {
    color: rgb(17, 174, 164);
    background-color: white;
    border-radius: 5px;
    border-color: rgb(17, 174, 164);
}

#boutonStor3Ensoleil {
    color: rgb(212, 215, 16);
    background-color: white;
    border-radius: 5px;
    border-color: rgb(212, 215, 16);
}

@media (min-width: 1200px) { /*s'applique à partir de 1200px*/
    .one-plant {
        width: 23%;
    }
}
