<div class="d-flex"> <!--ajoute directement ttes mes colonnes en colonne cote à cote-->

    <app-filter-side-bar 
    [categoriesToDisplay]="categoriesToSend"
    (categoriesToFilter) = "onSelector($event)"
    ></app-filter-side-bar>

    <div>
        <div class="divClass">
        <app-search-bar (eventSearchBar)="onSearch($event)" >Saisie recherche</app-search-bar>
        </div>             
            
        <div class="mes3Clics p-4">            
            <label for="monTri">Trier par: </label>

            <button id="boutonStor1Alpha" (click)='boutonStor1'>Ordre alpha</button>
       
            <button id="boutonStor2Arrosa" (click)='boutonStor2'>Arrosage</button>

            <button id="boutonStor3Ensoleil" (click)='boutonStor3'>Ensoleillement</button>
        </div>
       
        <div class="container-plants p-4">  <!--p4 c'est 1.5rem en padding, on peut le mettre là ou ds le css-->       
        <app-card-plant class="one-plant" 
        *ngFor="let plantData of plantsToDisplay" 
        [plant]="plantData"
        ></app-card-plant> <!--le lien de propriété, je donne le nom de plantData, c'est le nom de ma variable qui va parcourir mon tableau planttodysplay, -->
        </div>
    </div>

</div>